<div class="container my-5">
    <h1 class="mb-3">Companies</h1>
    <table class="table table-striped table-bordered"*ngIf="companies && companies.length >0 ">
        <caption>List of Companies</caption>
        <thead>
            <tr class="p-3 mb-2 bg-dark text-white">
                <th>Id</th>
                <th>Company Name</th>
                <th>Company Email</th>
                <th>Company Phone</th>
                <th>Number Of Employees</th>
                <th>Company Address</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let company of companies">
                <td>{{company.id}}</td>
                <td>{{company.companyName}}</td>
                <td>{{company.companyEmail}}</td>
                <td>{{company.companyPhone}}</td>
                <td>{{company.numberOfEmployees}}</td>
                <td>{{company.companyAddress}}</td>
                <td><a [routerLink]="['/companies','edit',company.id]">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!companies || companies.length <=0">No Companies Found!</p>
    </div>